* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 500vh; /* Controls scroll length */
    background: black;
}

.scroll-container {
    position: sticky;
    top: 0;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

canvas {
    width: 100%;
    height: 100%;
    display: block;
}
